:root {
  --light: #f5f6fa;
  --darkish: #1f1f1f;
  --darkish-2x: #4f4f4f;
  --darkish-3x: #9f9f9f;
  --blueish: #a065ff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  background-color: var(--light);
  color: var(--darkish);
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
